.pt-5 {
    padding-top: 6rem !important;
}

.page-container {
    margin: 0;
    padding: 0;
}

.cars-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.carro-destaque {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('../img/carrodestaque-3.webp');
    background-size: cover;

    width: 100vw; 
    height: 600px;
    margin-left: 2rem;

    object-fit: cover;
}

.carro-destaque-btn {
    width: 200px !important;
}